@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

:root {
	--transition: 0.25s;
}

body {
	display: grid;
	transition: background var(--transition);
  overflow-x: hidden;
}

.seccion1, .menu{
  background-image: url(imagenes/home.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 66hvh;
}


.menu{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 31%;
  padding-top: 1%;
}

header img {
  height: 10%; 
  padding-left: 70%;
}

nav {
  background: rgba(255, 255, 255, 0.795);
  border-radius: 20px;
  display: flex;
  padding: 0.2rem 2.5rem;
  gap: 4rem; 
  position: fixed;
  z-index: 3;
  justify-content: center;
  left: 36%;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur;
}

nav a {
  text-decoration: none;
  color: #110B39;
  font-weight: 600;
  font-size: 1vw;
  position: relative;
  z-index: 2;
}

nav span {
  background: linear-gradient(45deg, #DCBEF9, #C9FAFF);
  border-radius: 20px;
  position: absolute;
  padding: 1rem 5rem;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: .2s;
  filter: blur(1.5px);
}


/* NAV HOVER */

nav a:hover~span{
  left: 0;
  
}

nav a:nth-child(2):hover~span{
  left:8.6vw;
  padding: 1rem 3rem;
}

nav a:nth-child(3):hover~span{
  left:14vw;
  padding: 1rem 5rem;
}

nav a:nth-child(4):hover~span{
  left:22vw;
  padding: 1rem 5.5rem;
}



.right-part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  gap: 1.5%;
}

.xavi img{
  width: 90%;
  height: auto;
  margin-left: 15%;
  border-radius: 10%;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.presentacion {
  text-align: left;
  margin: 1% 0;
  line-height: 1.3;
  color: #110B39;
  font-weight: 600;
}


.presentacion h1 {
  font-size: 3.2vw;
}

.color {
  background: linear-gradient(45deg, #B47CEB, #5adfeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.presentacion p{
  margin: 1% 0;
  line-height: 1.6;
  max-width: 70%;
  font-size: 1.2vw;
  font-weight: 300;
}

.redes {
  display: flex;
  gap: 5%;
}

.redes img{
  width: 20%;
  height: auto;
}


.sparkle-button {
  margin-top: 3%;
  width: 13%;
  animation: slideInRight 1s ease-in;
}

.text {
	letter-spacing: 0.01ch;
	color: white;
}

button {
  background-color: #B47CEB;
	font-size: 0.8vw;
	font-weight: 500;
	border: 0;
	padding: 0.7em 0.9em;
	display: flex;
	border-radius: 20px;
	position: relative;
	transition: scale var(--transition);
	scale: calc(1 + (var(--active) * 0.1));
}

button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(45deg, #B47CEB, #5adfeb);
  opacity: 0;
  transition: opacity var(--transition);
  z-index: -1;
}

button:is(:hover, :focus-visible)::before {
  opacity: 1;
}

button:active {
  scale: 1;
}

button:is(:hover, :focus-visible) path {
	animation-name: bounce;
}

@keyframes bounce {
	35%, 65% {
		scale: var(--scale);
	}
}

button:is(:hover, :focus-visible) {
	--active: 1;
}

button svg {
	inline-size: 1.25em;
	translate: -25% -5%;
}

.sparkle path {
	color: white;
	transform-box: fill-box;
	transform-origin: center;
	fill: currentColor;
	stroke: currentColor;
	animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
	animation-duration: 0.5s;
	transition: color var(--transition);
}

.sparkle path:nth-of-type(1) {
	--scale: 0.5;
	--delay: 0.1;
	--base: 40%;
}

.sparkle path:nth-of-type(2) {
	--scale: 1.5;
	--delay: 0.2;
	--base: 20%;
}

.sparkle path:nth-of-type(3) {
	--scale: 2.5;
	--delay: 0.35;
	--base: 30%;
}


.seccion1, .about {
  position: relative;
}



.about {
  background: linear-gradient(35deg, #271985, #110B39, #100A38);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}


.programas {
  width: 22%;
  display: flex;
  justify-content: space-around; 
  gap: 1rem; 
  margin-left: 14%;
  margin-bottom: 1%;
}

.programas img {
  width: 22%; 
  height: 22%;
  object-fit: contain; 
  filter: drop-shadow( 4px 4px 4px rgba(255, 255, 255, 0.699) );
}


.skill {
  padding-top: 10%;
}

.skill h3{
  position: absolute;
  text-align: left;
  margin-left: 8%;
  color: white;
  font-size: 5vw;
  top: -3.5vw;
  z-index: 10;
  text-shadow: 2px 2px 5px #100a38af;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.skill p{
  color: white;
  text-align: right;
  align-items: right;
  margin-left: 1%;
  width: 80px;
}

.skill-alineacion {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
  margin-left: 8%;
  gap: 2rem; 
}

.contenedor{
  display: flex;
  width: 40%;
  height: 23px;
  background-color: #D9D9D9;
  border-radius: 20px;
  margin-left: -1%;
  position: relative;
}


.illustrator {
  height: 100%;
  width: 45%;
  background: linear-gradient(45deg, #330000, #FF9A00);
  border-radius: 20px;
}

.blender {
  height: 100%;
  width: 50%;
  background: linear-gradient(45deg, #01569A, #FD6C00);
  border-radius: 20px;
}

.figma {
  height: 100%;
  width: 50%;
  background: linear-gradient(45deg, #F34E1D, #FF7262, #A259FF, #1CBCFF, #04D082, #1E1E1E);
  border-radius: 20px;
}

.premiere {
  height: 100%;
  width: 30%;
  background: linear-gradient(45deg, #8B8BFF, #00004A);
  border-radius: 20px;
}

.photoshop {
  height: 100%;
  width: 30%;
  background: linear-gradient(45deg, #31A8FF, #001E36);
  border-radius: 20px;
}

.contenedor .porcentaje {
  position: absolute;
  display: flex;
  right: -8%; 
  align-items: center;
  background: linear-gradient(45deg, #B47CEB, #5adfeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.experiencia {
  color: #EEEEF6;
  text-align: right;
  justify-content: right;
  margin-right: 10%;
  padding-bottom: 8%;
}

.experiencia h3 {
  font-size: 5vw;
}

.contenido-exp h3 {
  font-size: 1.3vw;
  margin-bottom: 1%;
}

.contenido-exp p {
  font-size: 1vw;
  margin-bottom: 1%;
}





.proyectos {
  background: radial-gradient(circle, #DAFCFF 5%, #EEEEF6);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.titulo-xavier {
  display: flex;
  justify-content: left;
}

.titulo-xavier p {
  background: linear-gradient(45deg, #B47CEB, #5adfeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.7vw;
  font-weight: 700;
  margin-top: 10%;
  margin-left: 33%;
}


.proyectos h3 {
  position: absolute;
  color: white;
  font-size: 5vw;
  margin-top: -3%;
  text-shadow: 2px 2px 5px #100a38af;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  left: 35%; 
}

.xavier-lightseeker {
  display: flex;
  align-items: center;
  margin-top: 0.7%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
}

.video-lightseeker {
  width: 100%; 
  height: auto;
}

video {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.texto-lightseeker {
  width: 25%; 
  padding-left: 20px;
  font-size: 1vw;
  text-align: justify;
  font-weight: 500;
}





.crm {
  background: linear-gradient(135deg,  #100A38, #110B39, #271985);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.contenido-crm {
  text-align: justify;
  align-items: center;
  width: 30%;
  padding-top: 5%;
  padding-left: 40%;
}

.contenido-crm h3 {
  background: linear-gradient(45deg, #B47CEB, #5adfeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.7vw;
  margin-bottom: 5%;
}

.contenido-crm p {
  color: #EEEEF6;
  font-size: 1vw;
}

@keyframes fadeAndScale {
  from {
    scale: 0.9; opacity: 0.5;
  }

  to {
    scale: 1; opacity: 1;
  }
}

.imagenes-crm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7%;
  margin-right: 7%;
}

.tres-imagenes {
  width: 80%;
}

.tres-imagenes img {
  border-radius: 30px;
  width: 55%;
  height: auto;
}

.imagen1-crm img {
  margin-bottom: 10%;
}


.imagen2-crm img {
  margin-left: 20%;
  margin-bottom: 10%;
}

.imagen3-crm {
  margin-bottom: 14%;
}

.imagen4-crm {
  width: 100%;
}


.imagen4-crm img {
  width: 100%;
  height: auto; 
  border-radius: 40px; 
}





.rafayel {
  background: radial-gradient(circle, #DAFCFF 1%, #EEEEF6);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.titulo-raf {
  text-align: right;
  padding-right: 30%;
}

.titulo-raf h3 {
  background: linear-gradient(45deg, #B47CEB 70%, #5adfeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.7vw;
  padding-top: 4%;
  padding-bottom: 2%;
}

.texto-raf {
  width: 30%;
  margin-right: 1%;
  margin-top: -35%;
}

.texto-raf p {
  font-size: 1vw;
  font-weight: 500;
  text-align: justify;
}

.raf-bedroom {
  display: flex;
  align-items: center;
  margin-top: 0.7%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
}

.video-raf{
  width: 100%; 
  height: auto;
}

.video-raf video {
  width: 100%; 
  height: auto;
}





.geostilo {
  background: linear-gradient(35deg, #271985, #110B39, #100A38);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  justify-content: center;
}


.titulo-geostilo {
  text-align: right; 
  padding-right: 37%;
  font-size: 1.7vw;
}

.titulo-geostilo h3{
  background: linear-gradient(45deg, #B47CEB 70%, #5adfeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.7vw;
  padding-top: 6%;
}

.texto-geostilo {
  width: 20%;
}

.texto-geostilo p {
  color: #EEEEF6;
  font-size: 0.9vw;
  text-align: justify;
  justify-content: flex-start;
}

.collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 1%;
  width: 25%;
  padding-right: 1%;
}

.collage img {
  width: 100%;
  height: 97%;
}

.imagenes-geostilo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 6%;
}

.imagen1-geostilo {
  width: 25%; 
  padding-right: 1%;
}

.imagen1-geostilo img {
  width: 100%;
  height: 100%; 
}

.video-geostilo {
  width: 25%;
  padding-left: 1%;
}

.video-geostilo img, .video-geostilo video {
  width: 100%;
  height: 100%;
}






.gestion {
  background: radial-gradient(circle, #DAFCFF 1%, #EEEEF6);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.contenido-gest {
  width: 35%;
  text-align: left;
  padding-left: 10%;
  text-align: justify;
}

.contenido-gest h3 {
  background: linear-gradient(45deg, #B47CEB 20%, #5adfeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.7vw;
  padding-top: 13%;
  padding-bottom: 4%;
}

.contenido-gest p {
  font-size: 0.9vw;
  font-weight: 500;
  padding-left: 20%;
  padding-bottom: 9%;
}

.imagenes-gest {
  width: 90%;
  display: flex;
}

.imagenes-gest img {
  border-radius: 20px;
  box-shadow: 2px 2px 20px #b0b0b3b9;
}

.imagen1-gestion {
  padding-left: 12%;
  padding-right: 5%;
}

.imagenes-gest img {
  width: 100%;
  height: auto;
}




.contacto {
  background: linear-gradient(90deg,  #100A38, #110B39, #271985);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.contactame h3{
  position: absolute;
  margin-top: -4%;
  text-align: center;
  margin-left: 25%;
  color: white;
  font-size: 5vw;
  text-shadow: 2px 2px 5px #100a38af;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}


.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1.5rem; 
  width: 80vh; 
  padding-right: 5%;
}

.contacto-form {
  display: flex;
  gap: 1.5rem; 
}

input {
  padding: 0.9rem;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-color: #EEEEF6;
  box-sizing: border-box;
}

.mensaje input {
  height: 200px;
}

input::placeholder {
  padding-left: 1%;
  background: linear-gradient(45deg, #b47cebb7, #5adfebb0 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 1.2rem;
}

.enviar {
  font-size: 1.2rem;
  color: #fff;
  background-color: #5adfeb;
  border-radius: 30px;
  width: 10%;
  padding: 1%;
  text-align: center;
  text-decoration: none;
}



footer {
  background: linear-gradient(90deg,#100A38, #110B39, #271985);
  color: #EEEEF6;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 5%;
  font-family: 'Poppins', sans-serif;
}


.footer-right {
  margin-top: 3%;
}

.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
}

.footer-left h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.footer-left li, .footer-right li {
  margin: 0.3rem 0;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
}



/* ANIMACIONES */

.icon:nth-child(2) {
  transition-delay: 100ms;
}

.icon:nth-child(3) {
  transition-delay: 200ms;
}

.icon:nth-child(4) {
  transition-delay: 300ms;
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.hidden2 {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(100%);
  transition: all 1.5s;
}

.hidden3 {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(20%);
  transition: all 1.5s;
}

.hidden4 {
  opacity: 0;
  transition: all 3s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }

  .hidden2 {
    transition: none;
  }

  .hidden3 {
    transition: none;
  }

  .hidden4 {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

